<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <pipelines>
    <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel" resolve="true">
            <IgnoreRules hint="list:AddIgnoreRule">
                <prefix hint="media">^/-/media/.*</prefix>
            </IgnoreRules>
        </processor>
    </httpRequestBegin>
      </pipelines>
    </sitecore>
</configuration>