<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore>
        <settings>
          <setting name="ExperienceEdge.EnableItemLanguageFallback">
            <patch:attribute name="value">true</patch:attribute>
          </setting>
          <setting name="ExperienceEdge.EnableFieldLanguageFallback">
            <patch:attribute name="value">true</patch:attribute>
          </setting>
          <setting name="Query.MaxItems">
            <patch:attribute name="value">500</patch:attribute>
          </setting>
        </settings>
        <links>
            <urlBuilder>
                <!--DO NOT UNCOMMENT THIS WITHOUT KNOWING WHAT IT DOES. IT CAUSES SEVERE HIGH PROFILE, 
                    UNRECOVERABLE ISSUES WITH EXPERIENCE EDGE 
                    (IT'S FIXING REQUIRES FULL REPUBLISH AND BRINGING WEBSITE DOWN)
                    https://support.sitecore.com/kb?id=kb_article_view&sysparm_article=KB1003485
                -->
                <lowercaseUrls>true</lowercaseUrls>
                <languageEmbedding>always</languageEmbedding>
                <useDisplayName>true</useDisplayName>
            </urlBuilder>
        </links>
    </sitecore>
</configuration>